.box{
    width:80%;
    height: 8rem;
    border-radius: 15px;
    background-color: gray;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
}
.button{
    margin-top: 2rem;
    margin-left: 25rem;
    width: 10rem;
    height: 4rem;
    background-color: blueviolet;

}